* {
    margin: 0;
    padding: 0;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: none;
    cursor: pointer;
}

/* Header */
#header {
    display: flex;
    background-color: rgb(240, 240, 240);
    align-items: center;
    justify-content: space-between;
    height: 4.8vh;
    border-bottom: rgb(221, 221, 221) solid 1.5px;
    margin-bottom: 10px;
}

#navButtons {
    display: flex;
    align-items: center;
    height: 100%;
}

#navButtons button {
    height: 100%;
    padding: 0px 15px;
}

#navButtons button:hover {
    background-color: rgb(224, 224, 224);
}

#navBarTitle {
    text-decoration: none;
    color: unset;
    margin-left: 5px;
}